* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:checked {
    color: white;
}

a:visited {
    color: white;

}


html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.layout {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #242929 0% 25%, #360e16 25% 50%, #890b13 50% 75%, #d32012 75% 100%);
}

.menu__list {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 2rem;

    padding-left: 3rem;
    gap: 1rem;
}

.menu__link {
    width: 100%;
}

.menu__item {
    padding-left: 4rem;
    width: 100%;
    padding: 1rem;
    background-color: black;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.menu__item:hover {
    background-color: white;
    color: black;
}

.nav__layout {
    width: 100%;
    height: 80px;
    background-color: #000000cc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav__title {
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 3rem;
}

.nav__menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav__icon {
    filter: invert();
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu__layout {
    margin-top: 80px;
    position: absolute;
    background-color: rgb(36, 36, 36);
    width: 100%;
    min-height: calc(100vh - 80px);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.menu__layout--active {
    opacity: 1;
    pointer-events: all;
}


.canvas__layout {
    width: 300px;
    height: 300px;
    border: solid 1px white;
    overflow: hidden;
}

.video__layout {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video__container {
    width: 300px;
    height: 300px;
    padding: 1rem;
    background-color: #000000cc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.video__frame {
    width: 100%;
    height: 100%;
}

.up__video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.down__video {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    width: 600px;
    height: 100px;
    padding: 2rem;
    border-radius: 20px;
}

.label__text {
    color: white;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider__threshold {
    background-color: #82CFD0;
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 150px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

.threshold__text {
    margin: 0px 10px;
}


.canvas__container {
    width: 300px;
    height: 300px;
    padding: 1rem;
    background-color: #000000cc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.canvas__frame {
    width: 100%;
    height: 100%;
}

.conversion__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.conversion__file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.canvas__text {
    text-align: center;
    width: 300px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    border: 1px solid white;
}