* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.layout {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #242929 0% 25%, #360e16 25% 50%, #890b13 50% 75%, #d32012 75% 100%);
}

.nav__layout {
    width: 100%;
    height: 80px;
    background-color: #000000cc;
}

.nav__title {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.canvas__layout {
    width: 300px;
    height: 300px;
    border: solid 1px white;
    overflow: hidden;
}

.video__layout {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.video__container {
    width: 300px;
    height: 300px;
    padding: 1rem;
    background-color: #000000cc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.video__frame {
    width: 100%;
    height: 100%;
}

.up__video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.down__video {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    width: 600px;
    height: 100px;
    padding: 2rem;
    border-radius: 20px;
}

.label__text {
    color: white;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider__threshold {
    background-color: #82CFD0;
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 150px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

.threshold__text {
    margin: 0px 10px;
}


.canvas__container {
    width: 300px;
    height: 300px;
    padding: 1rem;
    background-color: #000000cc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.canvas__frame {
    width: 100%;
    height: 100%;
}